.intro {
    text-align: center ;
}

.intro h1 {
    font-weight: bold;
    padding : 1em ;
}

.intro p {
    padding : 1em ;
}

.god_list {
    display : grid ;
    grid-template-columns: repeat(12,8fr);    
}

img {
    display: flex;
    justify-content : center ; 
    object-fit : contain;    
    
}

.container {
    display: flex ;
    opacity :100% ;
    width: 18vh ;
    height : 80vh;
    box-shadow: #fff 0em 0em 0em ;
    transition : box-shadow 2s transform 0.6s 
}

.container:hover { 
         z-index: 100; 
        box-shadow: #fff 1em 1em 1em 1em ;
        animation :0.6s linear forwards slidein  ;
        transform: scale(1.1) ; 
    
}


    @keyframes slidein {
        from { width : 18vh }
        to   { width: 80vh; }
      } 