header {
    position : fixed;
    top:0;
    left:0;
    width:100%;
    z-index : 1000 ; /* fait en sorte que le header sois toujours au dessus des autres éléments */
    transition : height 1s, padding 1s, background-color 2s; 
    display : flex ; 
    justify-content: center;
    align-items : center ; 
    margin : auto ;
}

.txt{
    color: beige;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center ;
    font-size: 150%;

}

.container {
    height : 100vh; /* vh= viewport height 1vh = 1% de la hauteur de la fenêtre du navigateur ... 100vh permet d'occuper toute la hauteru de la fenêtre du navigateur */
    display: flex;
    margin : auto ; 
}


body {
    background-color: rgb(1, 1, 49);
    margin: 20px; 
}


    #indexp1{
       

    }

        #logo{
            width : 100%;
            height : auto ; 
            transition : width 1s; 
        }
    

    #indexp2{ 
       

    }

        #para1{
            align-self:flex-start;
        }
        #para2 {
            align-self: center;
        
        }
        #para3{
            align-self:flex-end;

        }
        #scrolldown_invitation {

        }
    
    #indexp3{

    }
        .boutonp3 {
            background-color: transparent;
            border-radius : 50%;
            overflow: hidden; /*empêche l'image de déborder du bouton*/
            width: 100px;
            height:100px;
            margin:10px;
            display: inline-block;
            transition : transform 0.5s, box-shadow 1s ;
        }

        .boutonp3 img {
            width: 100%;
            height : 100%;
            object-fit : cover; /* permet d'adapter l'image pour qu'elle fit avec le bouton */
            border-radius: 50% /* petit tips pour que l'image sois aussi ronde que le bouton */
        }
        
        .boutonp3:hover {
            box-shadow : 0 0 20px #fff;
            transform: scale(1.2);   
        }
       

        #buttongreek {

        }
        
        #buttonorse {

        }
        #buttonegyptian {

        }
        #buttonhindu {

        }
        #buttonchinois {

        }
        #buttonjapan {

        }
        #buttonarthurian {

        }
        #buttonmayan {

        }
        #buttonceltic {

        }

        .Reduce {
            height : 60px;
            padding : 10px 0;
            background-color: black;
        }
        .Reduce #logo {
            width: 10%;
            height : auto 
            
        }
    


