.txt{
    color: beige;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center ;
    font-size: 150%;

}

.container {
    height : 100vh; /* vh= viewport height 1vh = 1% de la hauteur de la fenêtre du navigateur ... 100vh permet d'occuper toute la hauteru de la fenêtre du navigateur */
    display: flex;
    justify-content : center;
    margin : auto ;
}

body {
    background-color: rgb(1, 1, 49);
    margin: 20px; 
}


    #indexp1{
       

    }

        #logo{
            height : auto ; width: 100%;
            margin : auto ; 
           

        }
    

    #indexp2{ 
       

    }

        #para1{
            align-self:flex-start;
        }
        #para2 {
            align-self: center;
        
        }
        #para3{
            align-self:flex-end;

        }
        #scrolldown_invitation {

        }
    
    #indexp3{

    }
        .boutonp3 {
            background-color: transparent;
            border-radius : 50%;
            overflow: hidden; /*empêche l'image de déborder du bouton*/
            width: 100px;
            height:100px;
            margin:28px;
            display: inline-block;
            
        }

        .boutonp3 img {
            width: 100%;
            height : 100%;
            object-fit : cover; /* permet d'adapter l'image pour qu'elle fit avec le bouton */
            border-radius: 50% /* petit tips pour que l'image sois aussi ronde que le bouton */
        }
        
        .boutonp3:hover {
            box-shadow : 0 0 10px #fff;
            width : 120px;
            height: 120px;
            
        }
       

        #buttongreek {

        }
        
        #buttonorse {

        }
        #buttonegyptian {

        }
        #buttonhindu {

        }
        #buttonchinois {

        }
        #buttonjapan {

        }
        #buttonarthurian {

        }
        #buttonmayan {

        }
        #buttonceltic {

        }
    


