a {
    text-decoration: none;
    color: black;
}

.txt{
    color: beige;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center ;
    font-size: 150%;

}

header {
    position : fixed;
    top:0;
    left:0;
    width:100%;
    z-index : 1000 ; /* fait en sorte que le header sois toujours au dessus des autres éléments */
    transition : height 1s, padding 1s, background-color 2s, box-shadow 3s ; 
    display : flex ; 
    justify-content: center;
    align-items : center ; 
    margin : auto ;
}

header a { 
    font-weight:bold ;
    text-decoration: none;
    color: beige;
    
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center ;
    font-size: 150%;
    padding : 2em ;
    transition : transform 0.3s
}

header a:hover {
    transform: scale(1.2);
    transition-delay (text-shadow: #fff 1em 0.25em 1em):1s; 
}


.container {
    height : 100vh; /* vh= viewport height 1vh = 1% de la hauteur de la fenêtre du navigateur ... 100vh permet d'occuper toute la hauteru de la fenêtre du navigateur */
    display: flex;
   
}


body {
    background-color: rgb(5, 2, 40);
    scroll-behavior: smooth;
    overflow-x: hidden;
 
}


    #index_p1{
       

    }

        #logo{
            width : 90%;
            height : auto ; 
            transition : width 3s, transform 3s ;
            padding : 7em 6em 0 0; 
            
        }
    

    #index_p2{
       height: calc(100vh - 90px); 
       background : linear-gradient(rgb(5, 2, 40),rgb(5, 3, 65));

    }

        #para_1{
            align-self:flex-start;
        }
        #para_2 {
            align-self: center;
        
        }
        #para_3{
            align-self:flex-end;

        }
        
    
    #index_p3{
    display : flex ;
    flex-direction: column; 
    margin : 0 ;
    background : linear-gradient(rgb(2, 2, 65),rgb(3, 3, 81))
    }

        #bouton_pantheon {
            display: flex;
            justify-content: center;
            align-items: center;
            height : 15vh;  
            margin-top : 10% ; 
           
                

                }
                .bouton_p3 {
                    background-color: transparent;
                    border-radius : 50%;
                    overflow: hidden; /*empêche l'image de déborder du bouton*/
                    width: 100px;
                    height:100px;
                    margin:10px;
                    display: inline-block;
                    transition : transform 0.5s, box-shadow 1s ;
                    
                }

                .bouton_p3 img {
                    width: 100%;
                    height : 100%;
                    object-fit : cover; /* permet d'adapter l'image pour qu'elle fit avec le bouton */
                    border-radius: 50% /* petit tips pour que l'image sois aussi ronde que le bouton */
                }
                
                .bouton_p3:hover {
                    box-shadow : 0 0 20px #fff;
                    transform: scale(1.2);   
                }
    
    .display_pantheon { 
       display : flex;
       flex-direction: row;
       align-items: center;
       width : 100 % 
       
    }

        /* mise en page Menu Grec */

        .display_img {
            width : 30% ;
            height : 120% ;
            float: left ; 
            margin-top : 5em ; 
        }

            .logo_pantheon {
            
            }
    
        .display_txt {
            display: flex;
            flex-direction: column;
           width : 70% ;
           margin-top : 5em ; 
           opacity : 1 ;
           transition: opacity 2s; 
        }

            .next_page_btn {
                width: 15em;
                margin-top: 2em;
                border-radius: 0.5em;
                font-size: 1.5em;
                align-self: center;
                transition : box-shadow 0.5s ; 
                margin-bottom :  
            }

            .next_page_btn:hover {
                box-shadow: 0 0 15px #fff;
            }

                #next_page_grec { 
                    background-color: #A050CB;
                    color : white ; 
                    
                }
                #next_page_norse {
                    background-color: #0C7DC1;
                    color : black
                }
                #next_page_egyptian {
                    background-color: #EEB33F;
                    color : black;
                }
                #next_page_hindu {
                    background-color: #F82D99;
                    color: black;
                }
                #next_page_chinois {
                    background-color: #F44236;
                    color: black;
                }
                #next_page_japan {
                    background-color: #B80103;
                    color: white;
                }
                #next_page_arthurian {
                    background-color: #970908;
                    color: black;
                }
                #next_page_maya {
                    background-color: #08A860;
                    color : black;
                    
                }
                #next_page_celtique {
                    background-color: #00572A;
                    color:white;

                }
       

       


        /* condition qui se rajoute au header si scroll */
        .Reduce {
            height : 60px;
            padding : 10px 0;
            background: linear-gradient(142deg, rgba(2,0,36,1) 25%, rgba(32,32,95,1) 80%, rgba(152,165,168,1) 100%);
            box-shadow: 0 0 25px #fff;
            transition-delay : 1s;
            transition-property: box-shadow ;
        }
     
        .Reduce #logo {
            width: 8%;
            height : auto ; 
            padding : 5px 20px 5px; 
            opacity: 100% ;
            
        }


        .Reduce #logo:hover {
            transform: scale(1.2);
            text-shadow: #fff 1em 0.25em 1em;
        }

        /* cache les éléments pour l'utilisation */ 

        .hide {
            display : none ;
            opacity : 0 ; 
        }




       

       