.intro {
  text-align: center;
}

.intro h1 {
  font-weight: bold;
  padding: 1em;
}

.intro p {
  padding: 1em;
}

.god_list {
  display: flex;
  width: 100dvw;
}

img {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
}

.container {
  display: flex;
  opacity: 100%;
  width: 100%;
  flex: 1;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.container:hover {
  width: 100%;
  animation-delay : 1s ;
  animation: 1s ease-in-out forwards flexgrow;
  clip-path: none;
}

.container:not(:hover) {
  animation-delay: 1s;
  animation: 0.8s ease-in-out forwards flexfall;
   
}

.container img:hover {
  animation-delay : 1s;
  animation: 0.6s ease-in-out forwards boxShadow;
}


@keyframes flexgrow {
    from {
        flex: 1;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
    to {
        flex : 12;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes flexfall {
    from {
        flex: 12;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to {
        flex: 1;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    }
}

@keyframes boxShadow {
  from {
    box-shadow: 0px 0px 3px 3px #fdfdff;
  }
  to {
    box-shadow: 0px 2px 11px 15px #fdfdff;
  }
}

