:root {
    --main-color: var(#6e5394);
    --secondary-color: var(#6e5394);
    --accent-color: var(#6e5394);
    --dark-color: var(#222);
    --light-color: var(#f5f5dc);


    /* WebsiteTheme */
    --purple-color: var(#A050CB);
    --blue-color: var(#0C7DC1);
    --orange-color: var(#EEB33F);
    --pink-color: var(#F82D99);
    --red-color: var(#F44236);
    --dark-red-color-a: var(#B80103);
    --dark-red-color-b: var(#970908);
    --green-color: var(#08A860);
    --dark-green-color: var(#00572A);
}